body {
    background-color: white;
}

.title { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	color:rgba(255, 255, 255, 1);
	font-size: 56px;
	padding: 200px 200px; 
}

.textindex {
	font-family:Poppins;
	font-weight: bold;
	text-align:center;
	font-size:16px;
	padding: 50px 200px;
}

a {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(103, 225, 203);
}
  
a:active {
    color: rgb(103, 225, 203);
}

.titleins1 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 40px;
	padding: 120px 200px 50px 200px; 
}

.titleins2 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	font-size: 35px;
	padding: 60px 200px 20px 200px; 
}

.textins1 { 
	font-family:Poppins;
	font-weight: bolder;
	text-align: justify;
	color:rgb(0, 0, 0);
	font-size: 16px;
	padding: 20px 300px; 
}

.rightbutton { 
	position:absolute;
	width:13px;
	left:1407px;
	top:340px;
}

.leftbutton { 
	position:absolute;
	width:13px;
	left:20px;
	top:340px;
}

.upbutton { 
	position:absolute;
	width:26px;
	left:50%;
	top:16px;
}

.downbutton { 
	position:absolute;
	width:26px;
	left:50%;
	top:710px;
}

.homepagebutton { 
	position:absolute;
	width:60px;
	left:28px;
	top:660px;
}

.helpbutton { 
	position:absolute;
	width:60px;
	left:1354px;
	top:660px;
}

.titleins3 { 
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 16px;
	padding: 60px 300px 10px 300px; 
}

.keyboardpic { 
	width:1020px;
	padding:50px 0px 0px 190px;
}

.Qkey { 
	position:absolute;
	width:54px;
	left:389px;
	top:227px;
}

.blankkey { 
	position:absolute;
	width:265px;
	left:566px;
	top:404px;
}

.upkey { 
	position:absolute;
	width:54px;
	left:930px;
	top:404px;
}

.downkey { 
	position:absolute;
	width:54px;
	left:930px;
	top:435px;
}

.leftkey { 
	position:absolute;
	width:54px;
	left:870px;
	top:435px;
}

.rightkey { 
	position:absolute;
	width:54px;
	left:990px;
	top:435px;
}

.gamepadpic { 
	width:877px;
	padding:50px 0px 0px 270px;
}

.titleins4 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	font-size: 35px;
	padding: 35px 200px 20px 200px; 
}

.rights { 
	position:absolute;
	width:5px;
	left:632px;
	top:280px;
}

.lefts { 
	position:absolute;
	width:5px;
	left:560px;
	top:280px;
}

.ups { 
	position:absolute;
	width:8px;
	left:595px;
	top:246px;
}

.downs { 
	position:absolute;
	width:8px;
	left:595px;
	top:317px;
}

.controllerbutton { 
	position:absolute;
	width:56px;
	left:570px;
	top:256px;
}

.Xbutton { 
	position:absolute;
	width:30px;
	left:806px;
	top:251px;
}

.Ybutton { 
	position:absolute;
	width:30px;
	left:778px;
	top:284px;
}

.artwork1 { 
	position:absolute;
	width:355px;
	left:555px;
	top:94px;
}

.artwork2_1 { 
	position:absolute;
	width:311px;
	left:182px;
	top:234px;
}

.artwork2_2 { 
	position:absolute;
	width:252px;
	left:585px;
	top:234px;
}

.artwork2_3 { 
	position:absolute;
	width:341px;
	left:929px;
	top:234px;
}

.artwork3 { 
	position:absolute;
	width:1000px;
	left:228px;
	top:-30px;
}

.artwork4_1 { 
	position:absolute;
	width:696px;
	left:98px;
	top:167px;
}

.artwork4_2 { 
	position:absolute;
	width:245px;
	left:1111px;
	top:65px;
}

.artwork5_1 { 
	width:1059px;
	padding:60px 0px 0px 200px;
}

.left6 { 
	position:absolute;
	width:40px;
	left:227px;
	top:340px;
}

.right6 { 
	position:absolute;
	width:40px;
	left:1211px;
	top:340px;
}

.mutebutton { 
	position:absolute;
	width:40px;
	left:1211px;
	top:613px;
}

.artwork5_audio { 
	position:absolute;
	width:0px;
	left:1222px;
	top:626px;
}

.artwork6_1 { 
	position:absolute;
	width:263px;
	left:155px;
	top:223px;
}

.artwork6_2 { 
	position:absolute;
	width:441px;
	left:508px;
	top:166px;
}

.artwork6_3 { 
	position:absolute;
	width:247px;
	left:1039px;
	top:244px;
}

.updatebutton { 
	position:absolute;
	width:60px;
	left:1354px;
	top:590px;
}

.artwork7_1 { 
	position:absolute;
	width:194px;
	left:363px;
	top:90px;
}

.artwork7_2 { 
	position:absolute;
	width:193px;
	left:641px;
	top:90px;
}

.artwork7_3 { 
	position:absolute;
	width:198px;
	left:918px;
	top:90px;
}

.artwork7_4 { 
	position:absolute;
	width:194px;
	left:363px;
	top:299px;
}

.artwork7_5 { 
	position:absolute;
	width:193px;
	left:641px;
	top:295px;
}

.artwork7_6 { 
	position:absolute;
	width:190px;
	left:922px;
	top:289px;
}

.artwork7_7 { 
	position:absolute;
	width:205px;
	left:363px;
	top:496px;
}

.artwork7_8 { 
	position:absolute;
	width:193px;
	left:641px;
	top:487px;
}

.artwork7_9 { 
	position:absolute;
	width:198px;
	left:918px;
	top:490px;
}

.artwork7_8_2 { 
	position:absolute;
	width:193px;
	left:641px;
	top:502px;
}

.artwork7_5_2 { 
	position:absolute;
	width:193px;
	left:641px;
	top:305px;
}

.artwork8_1 { 
	position:absolute;
	width:275px;
	left:442px;
	top:76px;
}

.artwork8_2 { 
	position:absolute;
	width:275px;
	left:745px;
	top:76px;
}

.artwork8_3 { 
	position:absolute;
	width:275px;
	left:442px;
	top:373px;
}

.artwork8_4 { 
	position:absolute;
	width:275px;
	left:745px;
	top:373px;
}