body {
    background-color: white;
    font-family: 'Poppins';
}
.e103_749 { 
	width:77px;
	height:252px;
	position:absolute;
	left:0px;
	top:236px;
	background-repeat:no-repeat;
	background-size:cover;
}