* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html, body {
	position: relative;
	height: 100%;
}

img {
	display: block;
}

body {
	margin: 0;
	padding: 0;
}

.pcHidden {
	display: none;
}

header {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	z-index: 30;
	background: rgba(255,255,255,.7);
}

header ul li {
	padding: 0 20px;
	border-right: 1px solid #fff;
	float: left;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-container .swiper-slide {
	position: relative;
	overflow: hidden;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid #999;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #999;
}

.full {
	position: absolute;
	width: 100%;
}

.full img {
	width: 100%;
}

.slide-5  {
	background-color:black;
}

.slide-6  {
	background-color:black;
}

.slide-8  {
	background-color:black;
}

.homepage-left100 {
	width: 100%;
	position: absolute;
	left: 100%;
	top: 44%;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.homepage-left100 .txt {
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 16px;
	line-height: 72px;
}

.txtCenter {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 15px;
}

.txtCenter .txt {
	font-size: 125px;
	letter-spacing: -2px;
	line-height: 115px;
	color: #121212;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial Black", Gadget, sans-serif;
}

.whiteTxt {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.whiteTxt .txt {
	font-size: 65px;
	letter-spacing: -2px;
	line-height: 82px;
	color: #ffffff;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}

footer {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	background: #fff;
	z-index: 30;
	line-height: 70px;
	text-indent: 30px;
}

body {
    background-color: white;
}

.title { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	color:rgba(255, 255, 255, 1);
	font-size: 56px;
	padding: 200px 200px; 
}

.textindex {
	font-family:Poppins;
	font-weight: bold;
	text-align:center;
	font-size:16px;
	padding: 50px 200px;
}

a {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(103, 225, 203);
}
  
a:active {
    color: rgb(103, 225, 203);
}

.titleins1 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 40px;
	padding: 120px 200px 50px 200px; 
}

.titleins2 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	font-size: 35px;
	padding: 60px 200px 20px 200px; 
}

.textins1 { 
	font-family:Poppins;
	font-weight: bolder;
	text-align: justify;
	color:rgb(0, 0, 0);
	font-size: 16px;
	padding: 20px 300px; 
}

.rightbutton { 
	position:absolute;
	width:13px;
	left:1407px;
	top:320px;
}

.leftbutton { 
	position:absolute;
	width:13px;
	left:20px;
	top:320px;
}

.homepagebutton { 
	position:absolute;
	width:60px;
	left:28px;
	top:630px;
}

.helpbutton { 
	position:absolute;
	width:60px;
	left:1354px;
	top:630px;
}

.titleins3 { 
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 16px;
	padding: 60px 300px 10px 300px; 
}

.keyboardpic { 
	width:1020px;
	padding:50px 0px 0px 203px;
}

.Qkey { 
	position:absolute;
	width:54px;
	left:389px;
	top:207px;
}

.Okey { 
	position:absolute;
	width:54px;
	left:809px;
	top:207px;
}

.blankkey { 
	position:absolute;
	width:265px;
	left:566px;
	top:384px;
}

.upkey { 
	position:absolute;
	width:54px;
	left:930px;
	top:384px;
}

.downkey { 
	position:absolute;
	width:54px;
	left:930px;
	top:415px;
}

.leftkey { 
	position:absolute;
	width:54px;
	left:870px;
	top:415px;
}

.rightkey { 
	position:absolute;
	width:54px;
	left:990px;
	top:415px;
}

.gamepadpic { 
	width:877px;
	padding:50px 0px 0px 270px;
}

.titleins4 { 
	font-family: 'Amatic SC';
	font-weight: bolder;
	text-align: center;
	font-size: 35px;
	padding: 35px 200px 20px 200px; 
}

.rights { 
	position:absolute;
	width:5px;
	left:632px;
	top:280px;
}

.lefts { 
	position:absolute;
	width:5px;
	left:560px;
	top:280px;
}

.ups { 
	position:absolute;
	width:8px;
	left:595px;
	top:246px;
}

.downs { 
	position:absolute;
	width:8px;
	left:595px;
	top:317px;
}

.controllerbutton { 
	position:absolute;
	width:56px;
	left:570px;
	top:256px;
}

.Xbutton { 
	position:absolute;
	width:30px;
	left:806px;
	top:251px;
}

.Ybutton { 
	position:absolute;
	width:30px;
	left:778px;
	top:284px;
}

.artwork1 { 
	position:absolute;
	width:355px;
	left:543px;
	top:80px;
}

.artwork2_1 { 
	position:absolute;
	width:311px;
	left:182px;
	top:214px;
}

.artwork2_2 { 
	position:absolute;
	width:252px;
	left:585px;
	top:214px;
}

.artwork2_3 { 
	position:absolute;
	width:341px;
	left:929px;
	top:214px;
}

.artwork3 { 
	position:absolute;
	width:1000px;
	left:228px;
	top:-60px;
}

.artwork4_1 { 
	position:absolute;
	width:696px;
	left:98px;
	top:147px;
}

.artwork4_2 { 
	position:absolute;
	width:245px;
	left:1111px;
	top:40px;
}

.artwork6_1 { 
	position:absolute;
	width:263px;
	left:155px;
	top:203px;
}

.artwork6_2 { 
	position:absolute;
	width:441px;
	left:508px;
	top:146px;
}

.artwork6_3 { 
	position:absolute;
	width:247px;
	left:1039px;
	top:224px;
}

.updatebutton { 
	position:absolute;
	width:60px;
	left:1354px;
	top:560px;
}

.artwork7_1 { 
	position:absolute;
	width:194px;
	left:343px;
	top:70px;
}

.artwork7_2 { 
	position:absolute;
	width:193px;
	left:621px;
	top:70px;
}

.artwork7_3 { 
	position:absolute;
	width:198px;
	left:898px;
	top:70px;
}

.artwork7_4 { 
	position:absolute;
	width:194px;
	left:343px;
	top:279px;
}

.artwork7_5 { 
	position:absolute;
	width:193px;
	left:621px;
	top:275px;
}

.artwork7_6 { 
	position:absolute;
	width:190px;
	left:902px;
	top:269px;
}

.artwork7_7 { 
	position:absolute;
	width:205px;
	left:343px;
	top:476px;
}

.artwork7_8 { 
	position:absolute;
	width:193px;
	left:621px;
	top:467px;
}

.artwork7_9 { 
	position:absolute;
	width:198px;
	left:898px;
	top:470px;
}

.artwork7_8_2 { 
	position:absolute;
	width:193px;
	left:621px;
	top:482px;
}

.artwork7_5_2 { 
	position:absolute;
	width:193px;
	left:621px;
	top:285px;
}

.artwork8_1 { 
	position:absolute;
	width:275px;
	left:422px;
	top:56px;
}

.artwork8_2 { 
	position:absolute;
	width:275px;
	left:725px;
	top:56px;
}

.artwork8_3 { 
	position:absolute;
	width:275px;
	left:422px;
	top:353px;
}

.artwork8_4 { 
	position:absolute;
	width:275px;
	left:725px;
	top:353px;
}

.artwork9_1 { 
	position:absolute;
	width:275px;
	left:565px;
	top:-97px;
}

.artwork9_2 { 
	position:absolute;
	width:275px;
	left:565px;
	top:203px;
}

.cura1 {
	font-family:Poppins;
	font-weight: bold;
	color: white;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: justify;
}

.cursor{
	cursor: pointer;
}

.hide{
	display: none;
}
.bolck{
	display: block !important;
}

.hideleft{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 22px;
	position: absolute;
	left:52px;
	top:315px;
}

.hideright{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 22px;
	position: absolute;
	left:1280px;
	top:315px;
}

.hidehome{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 22px;
	position: absolute;
	left:109px;
	top:645px;
}

.hidehelp{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 22px;
	position: absolute;
	left:982px;
	top:645px;
}

.hideleft2{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left:640px;
	top:274px;
}

.hideright2{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left:498px;
	top:275px;
}

.hidehome2{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left:783px;
	top:229px;
}

.hidehelp2{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left:680px;
	top:312px;
}

.hideleft1{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 16px;
	position: absolute;
	left:990px;
	top:386px;
}

.hideright1{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 16px;
	position: absolute;
	left:853px;
	top:386px;
}

.hidehome1{
	font-family:Poppins;
	font-weight: bolder;
	text-align: center;
	font-size: 16px;
	position: absolute;
	left:485px;
	top:222px;
}

.over1 {
	position: absolute;
	height: 536px;
	width: 355px;
}

.over2 {
	position: absolute;
	height: 256px;
	width: 1088px;
}

.over3 {
	position: absolute;
	height: 564px;
    width: 1000px;
}

.over4 {
	position: absolute;
	height: 596px;
    width: 1059px;
}

.over5 {
	position: absolute;
	height:375px;
    width:441px;
}

.over6 {
	position: absolute;
	height: 476px;
	width:696px;
}

.over7 {
	position: absolute;
	height: 567px;
	width: 755px;
}

.over8 {
	position: absolute;
	height: 572px;
    width: 578px;
}

.over9 {
	position: absolute;
	height: 237px;
	width:850px;
}